<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310915803563-gucfqql8gf3a2921e5b2ll6pc77gevq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310915803563-gucfqql8gf3a2921e5b2ll6pc77gevq6</string>
	<key>API_KEY</key>
	<string>AIzaSyA38j-6Nf3cr0Q9RoUeDgOwGUSMvQXLYCM</string>
	<key>GCM_SENDER_ID</key>
	<string>310915803563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>key.Groute</string>
	<key>PROJECT_ID</key>
	<string>groute-ea374</string>
	<key>STORAGE_BUCKET</key>
	<string>groute-ea374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310915803563:ios:e0971cd0ee3ea69479caee</string>
	<key>DATABASE_URL</key>
	<string>https://groute-ea374.firebaseio.com</string>
</dict>
</plist>